.produtos {
    padding: 20px;
}

.titulos {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.titulos h2 {
    font-size: 3.5rem;
    margin-bottom: 25px;
    font-family: var(--font-title);
    font-weight: 500;
    color: var(--text-base);
}

.titulos p {
    font-size: 1.1rem;
    color: var(--text-base);
    margin-top: 30px;
}

.produtos_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-image {
    position: relative;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card-image img{
    max-width: 100%;
    height: auto;
}

.card {
    max-width: 100%;
    height: auto;
}

.badge-venda {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgb(252, 223, 189);
    color: rgb(4, 0, 212);
    font-size: 13px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}
/* mudanças que eu fiz */
.produtos img{
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.produto button {
    margin-top: 15px;
} 

